<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <context-param>
    <param-name>dummy.param</param-name>
    <param-value>xx</param-value>
    <description>xx</description>
  </context-param>
  
  <listener>
    <listener-class>com.theavocadopapers.hibernate.HibernateAppListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>
        org.quartz.ee.servlet.QuartzInitializerServlet
    </servlet-class>
    <init-param>
        <param-name>shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>start-scheduler-on-load</param-name>
        <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>


</web-app>
